html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --color-background: white;
    --color-text: black;
}

[data-theme="dark"] {
    --color-background: black;
    --color-text: white;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}
