.muslimNode {
    background: #32cd32;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.customNode {
    background: #2e8b57;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.dataNode {
    background: #98fb98;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
